.desktop {
background-color: #eee;
border: 1px solid #aaa;
overflow: hidden;
position: absolute;
top: 50%;
left: 50%;
}

.portal {
position: absolute;
border-top-left-radius: 3px;
border-top-right-radius: 3px;
border: 1px solid #666;
overflow: hidden;
background-color: #fff;
}

.portal>.title {
width: 100%;
height: 18px;
overflow: hidden;
/* background-image: -webkit-linear-gradient(top, #aae, #55a 80%, #aaf 85%); */
border-bottom: 1px solid #aaa;
border-top-left-radius: 2px;
border-top-right-radius: 2px;
}

.portal>.close {
width: 14px;
height: 14px;
position: absolute;
right: 6px;
top: 0px;
border: 1px solid #000;
background-image: url(../img/icon-close.png);
background-repeat: no-repeat;
background-position: 1px 1px;
background-color: #ddd;
}

.portal>.min {
width: 14px;
height: 14px;
position: absolute;
right: 24px;
top: 0px;
border: 1px solid #000;
background-image: url(../img/icon-minimize.png);
background-repeat: no-repeat;
background-position: 1px 10px;
background-color: #ddd;
}

.portal>.max {
width: 14px;
height: 14px;
position: absolute;
right: 42px;
top: 0px;
border: 1px solid #000;
background-image: url(../img/icon-maximize.png);
background-repeat: no-repeat;
background-position: 1px 1px;
background-color: #ddd;
}

.portal>.container {
position: absolute;
top: 18px;
left: 1px;
right: 1px;
bottom: 14px;
}

.portal>.foot {
width: 100%;
height: 14px;
background-color: #eee;
border-top: 1px solid #aaa;
position: absolute;
bottom: 0px;
}

.portal>.handle {
width: 14px;
height: 14px;
background-image: url(../img/icon-resize.png);
background-repeat: no-repeat;
background-position: center;
position: absolute;
bottom: 0px;
right: 0px;
}

.btn {
height: 14px;
padding: 4px 8px;
background-image: -webkit-linear-gradient(top, #ddd, #eee 80%, #ccc 85%);
background-image: -moz-linear-gradient(top, #ddd, #eee 80%, #ccc 85%);
background-image: -ms-linear-gradient(top, #ddd, #eee 80%, #ccc 85%);
background-image: -o-linear-gradient(top, #ddd, #eee 80%, #ccc 85%);
background-image: linear-gradient(top, #ddd, #eee 80%, #ccc 85%);
border: 1px solid #aaa;
border-radius: 3px;
font-size: 14px;
text-align: center;
color: #444;
cursor: pointer;
}

.btn:hover {
background-image: -webkit-linear-gradient(top, #aaa, #ddd 80%, #bbb 85%);
background-image: -moz-linear-gradient(top, #aaa, #ddd 80%, #bbb 85%);
background-image: -ms-linear-gradient(top, #aaa, #ddd 80%, #bbb 85%);
background-image: -o-linear-gradient(top, #aaa, #ddd 80%, #bbb 85%);
background-image: linear-gradient(top, #aaa, #ddd 80%, #bbb 85%);
}

input {
border: 1px solid #aaa;
}