.desktop {
background-color: #eee;
border: 1px solid #aaa;
overflow: hidden;
position: absolute;
top: 50%;
left: 50%;
}

.portal {
position: absolute;
border-top-left-radius: 3px;
border-top-right-radius: 3px;
border: 1px solid #666;
overflow: hidden;
background-color: #fff;
}

.portal>.title {
width: 100%;
height: 18px;
overflow: hidden;
background-image: -webkit-linear-gradient(top, #aae, #55a 80%, #aaf 85%); 
/* background-color: #aaf; */
border-bottom: 1px solid #aaa;
}

.portal>.container {
position: absolute;
top: 18px;
left: 1px;
right: 1px;
bottom: 14px;
}

.portal>.foot {
width: 100%;
height: 14px;
background-color: #eee;
border-top: 1px solid #aaa;
position: absolute;
bottom: 0px;
}

.portal>.handle {
width: 14px;
height: 14px;
background-color: #ccc;
position: absolute;
bottom: 0px;
right: 0px;
}