.wtedit-container {
*width: inherit;
*height: inherit;
position: absolute;
top: 40px;
left: 0px;
right: 0px;
bottom: 0px;
}

.wtedit-textarea {
top: 1px;
bottom: 1px;
left: 1px;
right: 1px;
position: absolute;
}

.wtedit-textcanvas {
top: 0px;
bottom: 0px;
left: 0px;
right: 0px;
position: absolute;
background-color: #fff;
border: 1px solid black;
}